*.pyc
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*.cache
*.egg-info
*~
*#

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
._*
.CVS
.idea
_assets
_design
_content
_tmp
dist
build
venv
_build
